.footer__title {
    margin-bottom: 20px;
  
    font-weight: var(--font-weight2);
    font-size: var(--font-size1);
    color: var(--color4);
  
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
  
.footer-icon {
    display: flex;
    gap: 10px;
}
  
.footer-link__icon {
    display: flex; 
    justify-content: center; 
    align-items: center;
  
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    fill: var(--color4);
    transition: background-color 250ms var(--cubic-bezier);
    &:hover,
    &:focus {
    background: var(--color1);
    }
}

