.hero__title {
    margin: 0 auto 30px;
    width: 696px;
    height: 120px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: var(--color4);
    text-transform: uppercase;
    text-align: center;
}