body {
    font-family: 'Roboto', sans-serif;
}

.section {
    padding: 94px 0;
}

.section--about {
    padding-top: 0;
}

.section--team {
    background-color: var(--color7);
}

.section__title {
    margin-bottom: 50px;
    font-weight: var(--font-weight2);
    font-size: var(--font-size4);
    color: var(--color3);
  
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
}